@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
:root {
    color: #262626;
    font-family: 'Roboto', sans-serif;
}

.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.header-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.profile-container{
    display: flex;
    min-height: 100vh;
    background-image: url('../images/bg_green3.jpg') ;
}

.left-align, .right-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.left-align {
    /* background-color: aqua; */
    width: 40%;
    min-height: 100vh;
}

.right-align {
    /* background-color: orange; */
    width: 60%;
    min-height: 100vh;
}

.profile-box{
    padding-top: 10px;
    padding-bottom: 60px;
    margin-bottom: 20px;
    height: 25%;
    width: 90%;
    border-radius: 30px;
    background-image: url('../images/bg_green.jpg') ;
}

.profile-name{
    color:#fafafa;
    font-weight: bold;
}

.reserve-box{
    width: 80%;
    border-radius: 20px;
    background-image: url('../images/bg_green.jpg') ;
}

.profile-pic{
    height: 150px;
    width: 150px;
    margin: auto;
    border: solid 4px #fafafa;
    border-radius: 100%;
}

.design-button{
    background-color: #fafafa;
    color: #087830;
    margin-top: 10px;
}

.design-button:hover{
    background-color: #087830;
    color: #fafafa;
    margin-top: 10px;
}

