@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
:root {
    color: #262626;
    font-family: 'Roboto', sans-serif;
}

.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.header-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.profile-container{
    display: flex;
    min-height: 100vh;
    background-color: #FAF9F6;
}

.left-align, .right-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.left-align {
    /* background-color: aqua; */
    width: 45%;
    min-height: 100vh;
}

.right-align {
    /* background-color: orange; */
    width: 55%;
    min-height: 100vh;
}

.profile-box{
    width: 80%;
    height: 50%;
    overflow: auto;
    margin: 0 auto;
    border-radius: 20px;
    /* background-image: url('../images/bg_green.jpg') ; */
}

.profile-name{
    font-weight: bold;
}

.reserve-box{
    width: 80%;
    border-radius: 20px;
}

.profile-pic{
    object-fit: cover;
    height: 40%;
    margin-top: 25px;
    margin: auto;
}

.card-content {
    margin: 10px;
}

.profile-description {
    margin: auto;
    padding-top: 5px;
}

.design-button{
    background-color: #fafafa !important;
    color: #087830 !important;
    margin-top: 10px;
}

.design-button:hover{
    background-color: #087830 !important;
    color: #fafafa !important;
}